.stripe-card-element {
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 16px;
}

.stripe-errors {
    color: red;
    margin-bottom: 16px;
}
.email-payment{
    /* margin-left: 23px; */
}
.card-section {
    margin: 16px 0;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 4px;
  }
  
  .stripe-card-element {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 16px;
  }
  .success-snackbar {
    background-color: #4caf50; /* Green */
    color: white;
  }
  
  .error-snackbar {
    background-color: #f44336; /* Red */
    color: white;
  }
  