
<div class="row">
  <h1>{{courseName}}</h1>
  <div class="col-4">
{{inputType}}
  </div>
  <input type="text" class="form-control" value="{{rollNo}}" placeholder="Enter your name">
  <div class="col-4"></div>
  <button class="btn btn-primary"(click)="changeCourseName()">Submit</button>
</div>
<div class="row">
  <div class="col-3">
    <input type="text" class="form-control"  placeholder="Enter your name" [(ngModel)]="courseName">-{{courseName}}
  </div>
</div>


<div class="row">
  <div class="col-3">
    <h2>{{firstName()}}</h2>
  </div>
</div>