<form [formGroup]="locationPlanForm">
  <h2>Location and Plan</h2>

  <mat-form-field appearance="outline" class="full-width">
      <mat-label>Location</mat-label>
      <mat-select formControlName="location">
          <mat-option value="aliantUniversity">Aliant University</mat-option>
          <mat-option value="otherUniversity">Other University</mat-option>
      </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
      <mat-label>Plan</mat-label>
      <mat-select formControlName="plan">
          <mat-option value="trailBlazerBasic">Trail Blazer Basic</mat-option>
          <mat-option value="advancedPlan">Advanced Plan</mat-option>
      </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
      <mat-label>Destination Country</mat-label>
      <input matInput formControlName="destinationCountry" />
  </mat-form-field>
</form>